# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# C# naming
[*.cs]
dotnet_naming_rule.private_camel_case.severity = suggestion
dotnet_naming_rule.private_camel_case.symbols = private_camel_case
dotnet_naming_rule.private_camel_case.style = private_camel_case
dotnet_naming_symbols.private_camel_case.applicable_kinds = property,method,event
dotnet_naming_symbols.private_camel_case.applicable_accessibilities = private
dotnet_naming_style.private_camel_case.capitalization = camel_case

dotnet_naming_rule.private_field_uscore.severity = suggestion
dotnet_naming_rule.private_field_uscore.symbols = private_field_uscore
dotnet_naming_rule.private_field_uscore.style = private_field_uscore
dotnet_naming_symbols.private_field_uscore.applicable_kinds = field
dotnet_naming_symbols.private_field_uscore.applicable_accessibilities = private
dotnet_naming_style.private_field_uscore.required_prefix = _

